<h1>This is a private page, to get here you need to be authenticated using OAuth</h1>
<p>Welcome <strong><%= @lti_user.full_name %></strong>, this message is inside an external tool</p>
<p>Your Tool Provider register have this information : <b>!!!THIS IS A DEVELOPMENT ONLY FEATURE</b></p>
<p>NAME: <%= @tool_consumer.name %></p>
<p>KEY: <%= @tool_consumer.key %></p>
<p>SECRET: <%= @tool_consumer.secret %></p>
