<% if admin_signed_in? %>
  <h1>This is a message for admins only</h1>
  <h2>Welcome <%= current_admin.email %>!</h2>
  <%=link_to dashboard_path do %>
    <h3>Access your dashboard</h3>
  <% end %>
<% else %>
  <h1>This is the public page</h1>
<% end %>