<footer class="page-wrapper">
  <div class="align-items-center d-flex flex-column">
    <h5>This website's an end-of-course project, it is not meant to run in a production environment.</h5>
    <h6>Developed by Bryan de Oliveira Brettas</h6>
    <h6>Using Ruby on Rails and IMS-LTI standard.</h6>
  </div>
</footer>